.landing__wrapper {
	min-height: 50vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.landing__wrapper h1 {
	font-size: 4rem;
}
.landing__wrapper input {
	padding: 1rem 2rem;
	width: 70%;
}

.landing__wrapper input:focus {
	box-shadow: none;
	outline: none;
}
.landing__wrapper .iconWrapper {
	background-color: white;
	border: none;
}
